<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- BT4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- BT4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/event_list_mind.css">
	<!-- my js -->
	<script type="text/javascript" src="myJS/event_list_mind.js"></script>
</head>
<body> 
	<div class="container-fluid eventlist-background-gradient" style="padding-left: 0px !important;padding-right: 0px !important;">
	<div class="col-sm-6 col-md-6 col-lg-6"><input style="margin-top: 2rem; margin-bottom: 2rem;" class="search" type="text" name="search" placeholder="Search.."></div>
				

		<div class="row">
	
			<div class="col-sm-12 col-md-12 col-lg-12 "></div>
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="col-sm-3 col-md-10 col-lg-10 offset-sm-3 offset-md-1 offset-lg-1">
						<div class="card-deck" style="margin-top: 2rem;margin-bottom: 2rem;">
							<div class="card">
								<img class="card-img-top img-fluid" src="http://wallpapercave.com/wp/iemZHm0.jpg" alt="Card image cap">
								
								<div class="card-block">
									<h4 class="card-title">Card title</h4>
									<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								</div>
								
								<div class="card-footer">
									<small class="text-muted">Last updated 3 mins ago</small>
								</div>
							
							</div>
							
							<div class="card">

								<img class="card-img-top  img-fluid" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcREh9mo5s3MGl9gwMga54WdWrcnsSqxfYoLzo6Bx1QzOoA7y0o5Ng" alt="Card image cap">

								<div class="card-block">
									<h4 class="card-title">Card title</h4>
									<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
								</div>

								<div class="card-footer">
									<small class="text-muted">Last updated 3 mins ago</small>
								</div>

							</div>

							<div class="card">

								<img class="card-img-top  img-fluid" src="http://www.pageresource.com/wallpapers/wallpaper/vintage-crystal_192933.jpg" alt="Card image cap">
									<div class="card-block">
										<h4 class="card-title">Card title</h4>
										<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
									</div>

								<div class="card-footer">
									<small class="text-muted">Last updated 3 mins ago</small>
								</div>

							</div>
						</div>
					</div>
			</div>

		</div>
			
	</div>
</body>
</html>