<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			        $.get("http://localhost:5555/AllEvent",{},function(data){  
	            		console.log(data);
			            $("#xxx").html(data[0].EVENT_NAME);
			            $("#yyy").html(data[1].EVENT_NAME);
			       	});
			});
		</script>		
</head>
<body>
	<a href="https://www.w3schools.com" id="xxx">Visit W3Schools.com!</a>
	<a href="https://www.w3schools.com" id="yyy">Visit W3Schools.com!</a>
</body>
</html>