<div class="row contact">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-contact contact-center" >CONTACT</div>

				<form class="col-sm-6 col-md-6 col-lg-6 col-xl-6 contact-center contact-form">
					<div class="form-group row">
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" >
							<input type="text" class="form-control" id="inputName" placeholder="Name">
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-6" >
							<input type="text" class="form-control contact-form-surname" id="inputSurname" placeholder="Surname">
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="position: relative;top: 10px;">
							<input type="email" class="form-control" id="inputEmail" placeholder="E-mail">
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="position: relative;top: 20px;">
							<textarea class="form-control" id="MessageArea" rows="10" placeholder="Message"></textarea> 
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="position:relative;top: 50px; text-align-last: right;"><button type="button" class="btn  btn-lg btn-warning-submit"> SUBMIT </button></div>
					</div>
				</form>
			</div>
			
		</div>