<label for="user">USERNAME</label>
<input type="text" ng-model="editprofile.user">
<label for="passw">PASSWORD</label>
<input type="text" ng-model="editprofile.pass">
<label for="repassw">RE-PASSWORD</label>
<input type="text" ng-model="editprofile.repass">
<label for="fname">FNAME</label>
<input type="text" ng-model="editprofile.fname">
<label for="lname">LNAME</label>
<input type="text" ng-model="editprofile.lname">
<label for="sex">SEX</label>
<input type="text" ng-model="editprofile.sex">
<label for="bd">BIRTH_DATE</label>
<input type="date" ng-model="editprofile.bd">
<label for="email">E-MAIL</label>
<input type="text" ng-model="editprofile.email">
<label for="phone">PHONE</label>
<input type="text" ng-model="editprofile.phone">
<label for="cd">CREDIT_CARD</label>
<input type="text" ng-model="editprofile.cd">
<label for="img">URL_IMG</label>
<input type="text" ng-model="editprofile.img">
<input type="button" value="Submit" ng-click="editprofilesubmit()">
{{msgError}}

