<label for="user">USERNAME</label>
<input type="text" ng-model="signup.user">
<label for="passw">PASSWORD</label>
<input type="text" ng-model="signup.pass">
<label for="fname">FNAME</label>
<input type="text" ng-model="signup.fname">
<label for="lname">LNAME</label>
<input type="text" ng-model="signup.lname">
<label for="sex">SEX</label>
<input type="text" ng-model="signup.sex">
<label for="bd">BIRTH_DATE</label>
<input type="date" ng-model="signup.bd">
<label for="email">E-MAIL</label>
<input type="text" ng-model="signup.email">
<label for="phone">PHONE</label>
<input type="text" ng-model="signup.phone">
<label for="cd">CREDIT_CARD</label>
<input type="text" ng-model="signup.cd">
<label for="img">URL_IMG</label>
<input type="text" ng-model="signup.img">
<input type="button" value="Submit" ng-click="signupsubmit()">
{{msgError}}

