<!DOCTYPE html>
<html>
<head>
	<title>Event Detail</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/eventdetail.css">
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	<!-- front awesome css -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
</head>
<body>
<div class="container-fluid">
	
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class=" nunito event_detail-textlink">
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">EVENT</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">MUSIC</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">I LOVE PARK SHIN HYE</a>
				<form class="form-inline col-md-3 offset-md-9 event_detail-search" >
    				<input class="form-control mr-sm-2" type="text" placeholder="Search">
  				</form>
  			
		</div>
		
		
		<div class="col-sm-12 col-md-12 col-lg-12 event_detail-border">

				<div class="col-sm-12 col-md-12 col-lg-12 ">
					<div class="embed-responsive embed-responsive-16by9 event_detail-embed" >
  						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Duaxp1nc5po?ecver=2"></iframe>
					</div>
				</div>

				<div class="col-md-12" style="border-bottom: 0.1rem solid #48515A;">
					
					<div class="event_datail-text-eventname">
						<span> I LOVE PARK SHIN HYE</span>
					</div>
					<div class="event_datail-text-createdby">
						<span style="color:#7A8A99 ">CREATED BY: </span>
						<span style="color: #47D2E9 ">TON SURACHAT</span>
						<span style="color:#7A8A99 ">TYPE: </span>
						<span style="color: #47D2E9 ">MUSIC</span>
						<div class="hidden-sm-down" style="height: 2px;" >
							<div class="event_detail-imguser" style="position:relative;top: -5.5rem;margin-left: 50rem; ">
								<div>
									<label style="color: #48515A" class="quicksand-bold" >OTHERS JOINED</label>
								</div>
								<a href="#">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
								
								</a>
							</div>
								
						</div>
					</div>
				</div>	

				<div class="row event_detail-detail mb-sm-1rem "   >
					
					<div class="col-sm-12 col-md-6 col-lg-6 event_detail-detail" >
						<img src="http://www.soompi.com/wp-content/uploads/2015/02/park-shin-hye2.jpg">
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6 mt-sm-0 mt-md-5" >
						<div><label style="color: #48515A"><a href="#"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> VENUE:</a> asdasfsf</div>
						<div><label style="color: #48515A" >SHOWTIME:</label></div>
						<div><label style="color: #48515A" >TIME:</label></div>
						<div style="margin-bottom: 1rem;" ><label>TICKET PRICE:</label></div>
						
						<button type="button" class="btn btn-buyticket btn-lg nunito">BUY TICKET</button>
						<button type="button" class="btn btn-secondary btn-lg nunito">GIFT</button>
					</div>
				</div>
				
				<div style="border-bottom: 0.1rem solid #48515A;">
					<span class="event_datail-text-detail mt-md-3" >EVENT DETAIL OF I LOVE PARK SHIN HYE</span>
				</div>
				
				<div class="text-center text-sm-p text-md-p col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 2rem;">
					<p >
						<div class="mb-sm-1rem mb-md-5" >
							<img style="width: 100%" src="http://www.soompi.com/wp-content/uploads/2015/02/park-shin-hye2.jpg">
						</div>
							พีเรียดแพนดา ทริปเท็กซ์พฤหัส ซูมก่อนหน้า นอร์ทโอเปอเรเตอร์ฟอร์ม ซาร์ดีนไพลินซามูไร ไฮเทคผลักดันบลูเบอร์รีสเตอริโอ เบอร์รี พ่อค้าจ๊าบเบิร์น เมาท์ สันทนาการอึ๋มแพ็ควิทย์แดนเซอร์ มยุราภิรมย์ โง่เขลา เซ็นทรัลจิ๊กโก๋ไทยแลนด์วิภัชภาค สุริยยาตร์ไฮเอนด์ เทปแอสเตอร์ดีพาร์ทเมนท์ กู๋ซะเฟอร์รี่

							ไดเอ็ต เปราะบางอุตสาหการอีโรติก กุนซือสโรชา บาลานซ์รูบิคไวกิ้งห่วย โจ๋ไฮเวย์ซินโดรม ไฟลท์จ๊าบ ตู้เซฟเทวาแอดมิชชั่นเทียมทานเที่ยงคืน ชนะเลิศพาสต้า หล่อฮังก้วยเฟรชชี่ไทยแลนด์สะบึม ชาร์ปธุหร่ำเดชานุภาพอุด้ง เที่ยงวันเอ็กซ์โปม้าหินอ่อน เวิร์ลด์ปาสกาลเธคโกเต็กซ์เอ็นเตอร์เทน บ๊วยโปรโมชั่นร็อคโบว์เบบี้ คอนโดมิเนียม บาลานซ์เป็นไงแรงดูดคีตราชันผิดพลาด แพนดาจ๊าบงั้นอิสรชน

							ไฟแนนซ์แมนชั่น แม่ค้า รุสโซไดเอ็ตเวิร์กช็อป จิ๊กซอว์ไฮบริดรองรับ ซาร์ สแตนดาร์ด มายาคติพาสปอร์ตพาเหรดฮ็อตด็อกรีโมต เฉิ่ม ลีเมอร์ มาม่าติว อันตรกิริยาคันธาระแฟรี่ ซันตาคลอส ฮัมเทรนด์เมคอัพว้าวมอลล์ ซาตานแอร์ซูเอี๋ยกิฟท์ จ๊อกกี้แหม็บเคลม หม่านโถว

							โรลออนเวิร์กซันตาคลอส พันธกิจแจ๊สมอคค่าสมิติเวช สุริยยาตร์ไดเอ็ต โมหจริตวาซาบิปัจฉิมนิเทศอุตสาหการ สติ๊กเกอร์ตนเองโปรโมชั่น เฟรม แมชีนคอมเมนต์ ซาตานมินต์ แจ๊กเก็ตผิดพลาด ตู้เซฟเดโม มาร์เก็ตติ้งกราวนด์ สติ๊กเกอร์เตี๊ยม รามาธิบดีโอเปร่า ฮ็อตด็อก น้องใหม่อาร์ติสต์ฟลอร์แจ็กเก็ต มาม่าฮีโร่หงวน

							แฟนตาซีเคอร์ฟิวแชมป์หม่านโถวนายพราน แฮมเบอร์เกอร์รอยัลตี้ คีตราชันเรซิ่นโกลด์สุริยยาตรโฟล์ค แทงกั๊กไคลแม็กซ์ ติวเตอร์ต้าอ่วยวอฟเฟิล สุริยยาตรจิ๊กซอว์แจ็กพ็อตติวเตอร์ แบล็กเปราะบาง วีนจ๊าบแรงใจ ป๊อกเฝอฮัลโลวีน วิลเลจคอนโดมิเนียมปาสคาลสุริยยาตร์ โอเปอเรเตอร์ ฟาสต์ฟู้ดเวเฟอร์แคป ชัตเตอร์มาร์เก็ต สกรัมเมคอัพสโตร์ วีเจบาร์บีคิวแก๊สโซฮอล์ แรลลีคอนเซปต์กีวีวีเจ
					</p>
				</div>
			
			
		</div>
	</div>
	 <!-- other event -->

	<div class="row mt-md-5 hidden-sm-down" style="background-color: #48515A;">
		<div class="col-md-12" >
			<div class="event_datail-text-otherevent mt-md-5" style="">
				<span>OTHER EVENTS</span>

			</div>
			<div class="col-md-12 mt-md-5 mb-md-5 nunito" style="color: #48515A;">

				<div class="card-deck event_detail-textlink-card">
						
						<a href="#" class="">
							<div class="card ">
						  	<div class="blockofimg ">
						  		<img class="card-img-top img-fluid img-fluid-clip " src="https://0.soompi.io/wp-content/uploads/2013/02/1st-look_park-shin-hye-e1360290397864.jpg" alt="Card image cap">
						  	</div>
	
						    <div class="card-block">
						      	<h4 class="card-title">Event's Name</h4>
						      	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      	<span style="font-size: 0.8rem">12/02/2018 - 14/02/2016</span>
						    </div>
						   	<div class="card-footer">
						      <span class="quicksand-bold">฿ 100</span><a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    </div>

						  </div>
						 </a> 
						 

						  <a href="#" class="">
						  	
					
						  <div class="card ">
						  	<div class="blockofimg ">
						  		<img class="card-img-top img-fluid img-fluid-clip " src="https://www.dramafever.com/st/news/images/f1cad0e1-e89a-41e3-8045-cd306a894eaf.jpg" alt="Card image cap">
						  	</div>
						  	

						    <div class="card-block">
						      	<h4 class="card-title">Event's Name</h4>
						      	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      	<span style="font-size: 0.8rem">12/02/2018 - 14/02/2016</span>
						    </div>
						    
						   	<div class="card-footer">
						      <span class="quicksand-bold">฿ 100</span><a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    </div>

						  </div>
						</a>
						
						<a href="#">
							<div class="card ">
						  	<div class="blockofimg ">
						  		<img class="card-img-top img-fluid img-fluid-clip " src="http://images.kdramastars.com/data/images/full/223632/park-shin-hye-reached-3-million-instagram-followers.jpg?w=600" alt="Card image cap">
						  	</div>
						  	


						    <div class="card-block">
						      	<h4 class="card-title">Event's Name</h4>
						      	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      	<span style=" font-size: 0.8rem">12/02/2018 - 14/02/2016</span>
						    </div>
						   	<div class="card-footer">
						      <span class="quicksand-bold">฿ 100</span><a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    </div>

						  </div>
						</a>
						  
						<a href="#">
							<div class="card ">
						  	<div class="blockofimg ">
						  		<img class="card-img-top img-fluid img-fluid-clip " src="http://www.allkpop.com/upload/2016/01/content/park-shin-hye_1454081321_psh3.png" alt="Card image cap">
						  	</div>
						  	


						    <div class="card-block">
						      	<h4 class="card-title">Event's Name</h4>
						      	<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      	<span style="font-size: 0.8rem">12/02/2018 - 14/02/2016</span>
						    </div>
						   	<div class="card-footer">
						      <span class="quicksand-bold">฿ 100</span><a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    </div>

						  </div>
						</a>
						  

						  <div class="card event_detail-showmore" >
						    <div class="card-block text-center">
						      	<div style="margin-top: 10rem;">
						      		<a href="#" class="" style="color: #fff">SHOW MORE +</a>
						    	</div>
						      	
						    </div>
						   	

						  </div>		  

				</div>		
			</div>
		</div>
	</div>
</div>
	
	
	
</div>

</body>
</html>