<!DOCTYPE html>
<html>
<head>
	<title>Event Newfeed</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script> -->
    <!-- <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script> -->
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
</head>
<body style="background-color: #ededed;">
	<div class="container-fluid">
		<div class="col-lg-8 col-md-8 col-sm-12 offset-md-2 offset-lg-2 event_newfeed-bg-white_box">
			<!--text newfeed--> 
			<div class="event_newfeed-text-newfeed mb-md-3">NEW FEED</div>
			<!--card column-->
				<div class="event_newfeed-card-columns">
				

				  <!-- card -->
				  <a class="card" style="text-decoration: none;" href="#" 	>
				  	<div class="card-img-top event_newfeed-img" >
				  		<img src="https://s-media-cache-ak0.pinimg.com/564x/19/43/95/194395cb0b13b37183fca09f40ee7cc6.jpg">
				  	</div>
				    

				    <div class="event_newfeed-text-status">
                		<div class="event_newfeed-text-join">joined</div>
                		<div class="event_newfeed-text-join">13 apr 2017</div>
              		</div>

              		<div class="event_newfeed-div-user">
                		<img src="pic/1.jpg" class="event_newfeed-img-profile">
                		<span class="quicksand-bold event_newfeed-text-username">User name</span>
              		</div>

				    <div class="card-block">
				      <h4 class="card-title event_newfeed-text-event_name " >Card title that wraps to a new line</h4>
				      <p class="card-text quicksand event_newfeed-eventdetail-overflow" style="color:#828282; ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				      <span class="event_newfeed-a-link_detail">details</span>
				    </div>
				  </a>
				  <!-- card -->
				  <a class="card" style="text-decoration: none;" href="#" 	>
				  	<div class="card-img-top event_newfeed-img" >
				  		<img src="https://s-media-cache-ak0.pinimg.com/564x/19/43/95/194395cb0b13b37183fca09f40ee7cc6.jpg">
				  	</div>
				    

				    <div class="event_newfeed-text-status">
                		<div class="event_newfeed-text-join">joined</div>
                		<div class="event_newfeed-text-join">13 apr 2017</div>
              		</div>

              		<div class="event_newfeed-div-user">
                		<img src="pic/1.jpg" class="event_newfeed-img-profile">
                		<span class="quicksand-bold event_newfeed-text-username">User name</span>
              		</div>

				    <div class="card-block">
				      <h4 class="card-title event_newfeed-text-event_name " >Card title that wraps to a new line</h4>
				      <p class="card-text quicksand event_newfeed-eventdetail-overflow" style="color:#828282; ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				      <span class="event_newfeed-a-link_detail">details</span>
				    </div>
				  </a>
				  <!-- card -->
				  <a class="card" style="text-decoration: none;" href="#" 	>
				  	<div class="card-img-top event_newfeed-img" >
				  		<img src="https://s-media-cache-ak0.pinimg.com/564x/19/43/95/194395cb0b13b37183fca09f40ee7cc6.jpg">
				  	</div>
				    

				    <div class="event_newfeed-text-status">
                		<div class="event_newfeed-text-join">joined</div>
                		<div class="event_newfeed-text-join">13 apr 2017</div>
              		</div>

              		<div class="event_newfeed-div-user">
                		<img src="pic/1.jpg" class="event_newfeed-img-profile">
                		<span class="quicksand-bold event_newfeed-text-username">User name</span>
              		</div>

				    <div class="card-block">
				      <h4 class="card-title event_newfeed-text-event_name " >Card title that wraps to a new line</h4>
				      <p class="card-text quicksand event_newfeed-eventdetail-overflow" style="color:#828282; ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				      <span class="event_newfeed-a-link_detail">details</span>
				    </div>
				  </a>

				  <!-- card -->
				  <a class="card" style="text-decoration: none;" href="#" 	>
				  	<div class="card-img-top event_newfeed-img" >
				  		<img src="https://s-media-cache-ak0.pinimg.com/564x/19/43/95/194395cb0b13b37183fca09f40ee7cc6.jpg">
				  	</div>
				    

				    <div class="event_newfeed-text-status">
                		<div class="event_newfeed-text-join">joined</div>
                		<div class="event_newfeed-text-join">13 apr 2017</div>
              		</div>

              		<div class="event_newfeed-div-user">
                		<img src="pic/1.jpg" class="event_newfeed-img-profile">
                		<span class="quicksand-bold event_newfeed-text-username">User name</span>
              		</div>

				    <div class="card-block">
				      <h4 class="card-title event_newfeed-text-event_name " >Card title that wraps to a new line</h4>
				      <p class="card-text quicksand event_newfeed-eventdetail-overflow" style="color:#828282; ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				      <span class="event_newfeed-a-link_detail">details</span>
				    </div>
				  </a>
				 <!-- card -->
				  <a class="card" style="text-decoration: none;" href="#" 	>
				  	<div class="card-img-top event_newfeed-img" >
				  		<img src="https://s-media-cache-ak0.pinimg.com/564x/19/43/95/194395cb0b13b37183fca09f40ee7cc6.jpg">
				  	</div>
				    

				    <div class="event_newfeed-text-status">
                		<div class="event_newfeed-text-join">joined</div>
                		<div class="event_newfeed-text-join">13 apr 2017</div>
              		</div>

              		<div class="event_newfeed-div-user">
                		<img src="pic/1.jpg" class="event_newfeed-img-profile">
                		<span class="quicksand-bold event_newfeed-text-username">User name</span>
              		</div>

				    <div class="card-block">
				      <h4 class="card-title event_newfeed-text-event_name " >Card title that wraps to a new line</h4>
				      <p class="card-text quicksand event_newfeed-eventdetail-overflow" style="color:#828282; ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				      <span class="event_newfeed-a-link_detail">details</span>
				    </div>
				  </a>

				


					 	
				
				
				</div>
		</div>
	</div>
</body>