<!DOCTYPE html>
<html>
<head>
	<title>Event</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">

	

	<!-- <script type="text/javascript">
	$(document).ready(function(){
			$("#go_home").click(function(){
				console.log('xxxx');
				window.location.href='login.html';
			});
	});
	</script> -->

</head>
<body>
		<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">

			<div class="hidden-sm-down col-12" style="padding-right: 0px; padding-left: 0px; height: 20rem; overflow: hidden; text-align: center;">
				<img class="image" style="width:100%;  padding-right: 0px; padding-left: 0px; " src="pic/girl.jpg" alt="">			
			</div>


			<div class="row col-12">
				<div class="col-sm-10 col-md-3 col-lg-3 offset-sm-2 offset-md-1 offset-lg-1">
					<h6 style="margin-top: 3rem; font-size: 2rem; font-family: 'nunito'; ">CATEGORY</h6>
					<div class="btn-group-vertical">
						<a class="event_list-a-event_type" href="">+ ALL</a>
						<a class="event_list-a-event_type" href="">+ ART</a>
						<a class="event_list-a-event_type" href="">+ BUSINESS</a>
						<a class="event_list-a-event_type" href="">+ CHARITY & CAUSES</a>
						<a class="event_list-a-event_type" href="">+ COMMUNITY</a>
						<a class="event_list-a-event_type" href="">+ EDUCATION</a>
						<a class="event_list-a-event_type" href="">+ FASHION</a>
						<a class="event_list-a-event_type" href="">+ FILM & MEDIA</a>
						<a class="event_list-a-event_type" href="">+ FOOD & DRINK</a>
						<a class="event_list-a-event_type" href="">+ LIFESTYLE</a>
						<a class="event_list-a-event_type" href="">+ MUSIC</a>
						<a class="event_list-a-event_type" href="">+ SCIENCE & TECHNOLOGY</a>
						<a class="event_list-a-event_type" href="">+ SPORT & FITNESS</a>
					</div>
				</div>
	
				<div class="col-sm-12 col-md-8 col-lg-8" style="margin-top: 2rem">
					<div class="row col-12">
						<div class="event_list-div-show col-sm-12 col-md-4 col-lg-4">
							SHOWING 1-6 OF 6 PRODUCTS
						</div>



						<div class="dropdown col-sm-3 col-md-3 col-lg-3" >
  							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-color:#FC575E ;border-radius:10px;font-family:'nunito'; color: #FC575E; height: 2rem; font-weight: bold;">
    							FILTER BY
  							</button>
  							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    								<a class="dropdown-item" href="#">Action</a>
    								<a class="dropdown-item" href="#">Another action</a>
    								<a class="dropdown-item" href="#">Something else here</a>
  							</div>
						</div>

						<div class="hidden-sm-down col-3">
							<input class="event_list-input-txt" type="text" placeholder="Search">
						</div>
					</div>
				
					<br>
					<div class="row" style="margin-left: 15px;">

						<div class="picture col-sm-12 col-md-4 col-lg-4">
							<a style="text-decoration: none;" href="#">
								<div class="card " style=" margin-bottom: 1rem;">
									<div style="position: relative; overflow: hidden;" >
  										<img class="card-event-img" style="height: 18rem; " src="pic/2.jpg">
  										<div class="event_list-div-redtype quicksand" style="position: absolute;bottom: 0px;right:0px;">music</div>
  									</div>
 									<div class="card-block" style="" >
   	 									<h4 class="event_list-h4-title quicksand">I LOVE PARK SHIN HYE</h4>
    									<h6 class="event_list-h6-describe quicksand">I love pomeranian </h6>
    									<div class="row">
   											<div class="event_list-div-start_date quicksand col-5">23/04/2017</div>
   											<div class="event_list-div-dat quicksand col-1">-</div>
    										<div class="event_list-div-end_date quicksand col-5">24/04/2017</div>
    									
    									</div>
    									<div class="row">
    										<div class="event_list-div-price quicksand 
    										col-8">$100</div>
											<div class="event_list-div-detail quicksand col-2">detail</div>    										
    									</div>
  									</div>
								</div>
							</a>
						</div>

						<div class="picture col-sm-12 col-md-4 col-lg-4">
							<a style="text-decoration: none;" href="#">
								<div class="card " style=" margin-bottom: 1rem;">
									<div style="position: relative; overflow: hidden;" >
  										<img class="card-event-img" style="height: 18rem; " src="pic/2.jpg">
  										<div class="event_list-div-redtype quicksand" style="position: absolute;bottom: 0px;right:0px;">music</div>
  									</div>
 									<div class="card-block" style="" >
   	 									<h4 class="event_list-h4-title quicksand">I LOVE PARK SHIN HYE</h4>
    									<h6 class="event_list-h6-describe quicksand">I love pomeranian </h6>
    									<div class="row">
   											<div class="event_list-div-start_date quicksand col-5">23/04/2017</div>
   											<div class="event_list-div-dat quicksand col-1">-</div>
    										<div class="event_list-div-end_date quicksand col-5">24/04/2017</div>
    									
    									</div>
    									<div class="row">
    										<div class="event_list-div-price quicksand 
    										col-8">$100</div>
											<div class="event_list-div-detail quicksand col-2">detail</div>    										
    									</div>
  									</div>
								</div>
							</a>
						</div>

						<div class="picture col-sm-12 col-md-4 col-lg-4">
							<a style="text-decoration: none;" href="#">
								<div class="card " style=" margin-bottom: 1rem;">
									<div style="position: relative; overflow: hidden;" >
  										<img class="card-event-img" style="height: 18rem; " src="pic/2.jpg">
  										<div class="event_list-div-redtype quicksand" style="position: absolute;bottom: 0px;right:0px;">music</div>
  									</div>
 									<div class="card-block" style="" >
   	 									<h4 class="event_list-h4-title quicksand">I LOVE PARK SHIN HYE</h4>
    									<h6 class="event_list-h6-describe quicksand">I love pomeranian </h6>
    									<div class="row">
   											<div class="event_list-div-start_date quicksand col-5">23/04/2017</div>
   											<div class="event_list-div-dat quicksand col-1">-</div>
    										<div class="event_list-div-end_date quicksand col-5">24/04/2017</div>
    									
    									</div>
    									<div class="row">
    										<div class="event_list-div-price quicksand 
    										col-8">$100</div>
											<div class="event_list-div-detail quicksand col-2">detail</div>    										
    									</div>
  									</div>
								</div>
							</a>
						</div>

						<div class="picture col-sm-12 col-md-4 col-lg-4">
							<a style="text-decoration: none;" href="#">
								<div class="card " style=" margin-bottom: 1rem;">
									<div style="position: relative; overflow: hidden;" >
  										<img class="card-event-img" style="height: 18rem; " src="pic/2.jpg">
  										<div class="event_list-div-redtype quicksand" style="position: absolute;bottom: 0px;right:0px;">music</div>
  									</div>
 									<div class="card-block" style="" >
   	 									<h4 class="event_list-h4-title quicksand">I LOVE PARK SHIN HYE</h4>
    									<h6 class="event_list-h6-describe quicksand">I love pomeranian </h6>
    									<div class="row">
   											<div class="event_list-div-start_date quicksand col-5">23/04/2017</div>
   											<div class="event_list-div-dat quicksand col-1">-</div>
    										<div class="event_list-div-end_date quicksand col-5">24/04/2017</div>
    									
    									</div>
    									<div class="row">
    										<div class="event_list-div-price quicksand 
    										col-8">$100</div>
											<div class="event_list-div-detail quicksand col-2">detail</div>    										
    									</div>
  									</div>
								</div>
							</a>
						</div>

						<div class="picture col-sm-12 col-md-4 col-lg-4">
							<a style="text-decoration: none;" href="#">
								<div class="card " style=" margin-bottom: 1rem;">
									<div style="position: relative; overflow: hidden;" >
  										<img class="card-event-img" style="height: 18rem; " src="pic/2.jpg">
  										<div class="event_list-div-redtype quicksand" style="position: absolute;bottom: 0px;right:0px;">music</div>
  									</div>
 									<div class="card-block" style="" >
   	 									<h4 class="event_list-h4-title quicksand">I LOVE PARK SHIN HYE</h4>
    									<h6 class="event_list-h6-describe quicksand">I love pomeranian </h6>
    									<div class="row">
   											<div class="event_list-div-start_date quicksand col-5">23/04/2017</div>
   											<div class="event_list-div-dat quicksand col-1">-</div>
    										<div class="event_list-div-end_date quicksand col-5">24/04/2017</div>
    									
    									</div>
    									<div class="row">
    										<div class="event_list-div-price quicksand 
    										col-8">$100</div>
											<div class="event_list-div-detail quicksand col-2">detail</div>    										
    									</div>
  									</div>
								</div>
							</a>
						</div>

					</div>
					<br>

					<div class="row event_list-div-pag offset-md-9 offset-lg-9 offset-sm-9">
						<nav aria-label="Page navigation example">
  							<ul class="pagination">
    							<li class="page-item" >
      								<a class="page-link event_list-li-page-link" href="#" aria-label="Previous">
        								<span aria-hidden="true">&laquo;</span>
        								<span class="sr-only">Previous</span>
      								</a>
    							</li>
    							<li class="page-item"><a class="page-link event_list-li-page-link" style="margin-left: 3px;" href="#">1</a></li>
    							<li class="page-item"><a class="page-link event_list-li-page-link" style="margin-left: 3px;" href="#">2</a></li>
    							<li class="page-item"><a class="page-link event_list-li-page-link" style="margin-left: 3px;" href="#">3</a></li>
    							<li class="page-item">
      								<a class="page-link event_list-li-page-link" style="margin-left: 3px;" href="#" aria-label="Next">
        								<span aria-hidden="true">&raquo;</span>
        								<span class="sr-only">Next</span>
      								</a>
    							</li>
  							</ul>
						</nav>
					</div>
								
				</div>

				
			</div>

		</div>

</body>
</html>		