<!DOCTYPE html>
<html>
<head>
	<title>Event Detail</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/eventdetail.css">
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
</head>
<body>
<div class="container-fluid">
	
	<div class="col-sm-12 col-md-12 col-lg-12">
		<div class="col-md-6  nunito event_detail-textlink">
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">EVENT</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">MUSIC</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">I LOVE PARK SHIN HYE</a>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-12 event_detail-border">
				<div class="col-sm-12 col-md-12 col-lg-12 ">
					<div class="embed-responsive embed-responsive-16by9 event_detail-embed" >
  						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Duaxp1nc5po?ecver=2"></iframe>
					</div>
				</div>
				<div class="col-md-12" style="border-bottom: 0.1rem solid #48515A;">
					
					<div class="event_datail-text-eventname">
						<span style="color: #48515A"> I LOVE PARK SHIN HYE</span>
					</div>
					<div class="event_datail-text-createdby">
						<span style="color:#7A8A99 ">CREATED BY: </span>
						<span style="color: #47D2E9 ">TON SURACHAT</span>
						<span style="color:#7A8A99 ">TYPE: </span>
						<span style="color: #47D2E9 ">MUSIC</span>
						<div class="hidden-sm-down" style="height: 2px;" >
							<div class="event_detail-imguser" style="position:relative;top: -5.5rem;margin-left: 50rem; ">
								<div>
									<label style="color: #48515A" class="quicksand-bold" >OTHERS JOINED</label>
								</div>
								<a href="#">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
									<img class="rounded-circle" src="https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/12407446_1080123332028779_941818407_n.jpg?ig_cache_key=MTE2MDU1MzA5NTQxMTgyMTYyNw%3D%3D.2">
								
								</a>
							</div>
								
						</div>
					</div>
					

				</div>	
				
			
			asdasdasdasfasf
		</div>
	</div>
		
	
	
	
</div>

</body>
</html>