<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
</head>
<body>
	<nav class="navbar fixed-top navbar-light event_navbar-nav-nav_box">
  		<div class="row">
  			<div class="col-sm-3 col-md-3 col-lg-3 offset-md-1 offset-lg-1">
  				<div class="event_nav-text-event">
  					EVENT
  				</div>
  				<div class="event_nav-text-oraganice">
  					o&nbsp;&nbsp;r&nbsp;&nbsp;g&nbsp;&nbsp;a&nbsp;&nbsp;n&nbsp;&nbsp;i&nbsp;&nbsp;c&nbsp;&nbsp;e
  				</div>
  			</div>
  			<div class="col-sm-4 col-md-4 col-lg-4 event_nav-a-button_box">
  				<a class="nav-link event_nav-a-button" href="#">HOME</a>
  				<a class="nav-link event_nav-a-button" href="#">EVENTS</a>
  				<a class="nav-link event_nav-a-button" href="#">FRIENDS</a>
  				<a class="nav-link event_nav-a-button" href="#">CONTACT</a>
  			</div>
  			<div class="col-sm-3 col-md-3 col-lg-3 offset-md-1 offset-lg-1 event_nav-dropdown-box_dropdow">
  		  		<button class="btn btn-primary-jan dropdown-toggle badge badge-pill badge-default event_nav-btn-user" type="button" data-toggle="dropdown">
  		  			<img class="event_nav-img-user_img" src="pic/user1.png">&nbsp;&nbsp;&nbsp;User Name
  		  		</button>
  				<ul class="dropdown-menu event_nav-dropdown-drop">
    				<li><a class="event_nav-a-link" href="#"><img class="event_nav-img-icon" src="pic/happiness.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROFILE</a></li>
    				<div class="dropdown-divider"></div>
    				<li><a class="event_nav-a-link" href="#"><img class="event_nav-img-icon" src="pic/user2.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EDIT PROFILE</a></li>
    				<div class="dropdown-divider"></div>
    				<li><a class="event_nav-a-link" href="#"><img class="event_nav-img-icon" src="pic/tools.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MANAGED EVENT</a></li>
    				<div class="dropdown-divider"></div>
    				<li><a class="event_nav-a-link" href="#"><img class="event_nav-img-icon" src="pic/sign-out.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGN OUT</a></li>
  				</ul>
  			</div>
  		</div>
	</nav>
</body>
</html>