<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script> -->
    <!-- <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script> -->
	
	<!-- my css -->
	
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
    
    <!-- my font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand" rel="stylesheet">
    
    <style>
        .create_event {
            font-family: 'Quicksand', sans-serif;
        }
        
        .create_event input {
            font-family: 'Nunito', sans-serif;;
        }
    </style>
</head>
<body>
    <div class="container border create_event" style="border-style: solid;border-width: 1px;border-color: #95989A;"><br>
        <div class="col-sm-12 col-12">
            <div style="margin-bottom : 10px;font-size:45px;font-family:">CREATE MY EVENT</div>
        </div>
        
        <div class="col-sm-12 col-12 container">
          <div class="col-sm-12" style="background-color:#47D2E9;">
              <br>
            <div class="row border-top-0" style="background-color:white;border:1px solid;border-color: #95989A;">
              <div class="col-12 col-sm-12"><br>
                FIELD 1 : Detail event
                  <br>
                  <hr>
                    <form class="container">
                      <div class="form-group">
                        <label for="formGroupExampleInput">EVENT NAME</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                      </div>
                    <div class="row col-sm-12 col-12" style="padding-left : 0px;">
                        <div class="form-group col-sm-6 col-12">
                            <div style="margin-bottom:.5rem;">CATEGORY</div>
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:100%;text-align:right;">
                            Select Category
                          </button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Art</a>
                            <a class="dropdown-item" href="#">Business</a>
                            <a class="dropdown-item" href="#">Charity & Cause</a>
                              <a class="dropdown-item" href="#">Community</a>
                              <a class="dropdown-item" href="#">Education</a>
                              <a class="dropdown-item" href="#">Fashion</a>
                              <a class="dropdown-item" href="#">Film & Media</a>
                              <a class="dropdown-item" href="#">Food & drink</a>
                              <a class="dropdown-item" href="#">Liftstyle</a>
                              <a class="dropdown-item" href="#">Music</a>
                              <a class="dropdown-item" href="#">Science & Technology</a>
                              <a class="dropdown-item" href="#">Sport & Fitness</a>
                              
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                          </div>
                        </div>
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput2">TICKET PRICE ( bath ) </label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="input price">
                        </div>
                    </div>
                    <div class="row col-sm-12 col-12" style="padding-left : 0px;">
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput">TIME ( Start, End )</label>
                            <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                        </div>
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput"><br></label>
                            <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                        </div>
                    </div>
                    <div class="row col-sm-12 col-12" style="padding-left : 0px;">
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput">DATE ( Start, End )</label>
                            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        </div>
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput"><br></label>
                            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        </div>
                    </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput">PICTURE URL</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="input url picture">
                      </div>
                        <div class="form-group">
                        <label for="formGroupExampleInput">VIDEO URL</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="input url video">
                      </div>
                    </form>
                  <br>
              </div>
              
            </div>
          </div>
        </div>
        <BR><BR>
            
        <div class="container">
          <div class="col-sm-12" style="background-color:#fbd451;">
              <br>
            <div class="row border-top-0" style="background-color:white;border:1px solid;border-color: #95989A;">
              <div class="col-12 col-sm-12"><br>
                FIELD 2 : Event option
                  <br>
                  <hr>
                    <form class="container">
                        <label for="formGroupExampleInput2">GENDER </label>
                      <div class="form-check">
                          <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">MALE</span>
                        </label>
                          <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">FEMALE</span>
                            </label>
                      </div>
                    <div class="row col-sm-12 col-12" style="padding-left : 0px;">
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput">AGE</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="min age">
                        </div>
                        <div class="form-group col-sm-6 col-12">
                            <label for="formGroupExampleInput"><br></label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="max age">
                        </div>
                    </div><br>
                    </form>
              </div>
              
            </div>
          </div>
        </div>
            
         <BR><BR>
            
        <div class="container">
          <div class="col-sm-12" style="background-color:#FC575E;">
              <br>
            <div class="row border-top-0" style="background-color:white;border:1px solid;border-color: #95989A;">
              <div class="col-12 col-sm-12"><br>
                FIELD 3 : Add location
                  <br>
                  <hr>
                    <form class="container">
                        <label for="formGroupExampleInput2">LOCATION </label>
                     
                    </form>
                  <br>
                  
              </div>
              
            </div>
          </div>
        </div><br>
             <div class="container" style="display:inline-block">
                 <div align="center" style="float:left">
                    <button type="button" class="btn btn-outline-warning">Clear</button>
                 </div>
                 <div align="center" style="float:right">
                    <button type="button" class="btn btn-danger" >Submit</button>
                 </div>
             </div><br><br>
    </div>
             
             <div>
             sdasda</div>
    
	
</body>
</html>