<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>

</head>
<body>

		<div class="container-fluid" style="padding-right: 0px; padding-left: 0px;"> <!-- container-fluid -->
		<!-- <div style="margin-left: 300px;background-color: #48515A;"> -->
		<div style="background-color: #48515A;">
<!-- 			<div class="row header-row"> 
				<div class="col-12">
					<div class="text-right sign-out">
						<a href="#">Sign Out</a>
					</div>
				</div>
			</div>  -->
		


			<div class="row header-row">
				<div class="col-sm-12 col-md-7 col-lg-7 title">
					<div class=" type_button"> <!-- recommend&recent -->
						<div class="type_button_box">
							<a class="active_button a-mind" href="#">Recommend</a>
							<span style="color:#fff;font-size: 25px;" href="#"> / </span>
							<a class="a-mind" href="#">Recent</a>	
						</div>		
					</div> <!-- recommend&recent -->
				</div>
				<div class="col-sm-12 col-md-3 col-lg-3 offset-md-2 offset-lg-2 search">
					<input type="text" class="form-control-search " placeholder="..Search" aria-describedby="basic-addon1">
				</div>
			</div>
			<div class="row header-row box">
				<div class="col-sm-6 col-md-3 col-lg-3 boxmargin">
					<a class="event" href="#">
						<div class="card">
  							<img class="card-event-img" src="../bootstrap4/img/dog.jpg">
 							<div class="card-block">
    							<h4 class="card-title-jan">Pomeranian</h4>
    							<h6 class="describe">I love pomeranian
    							so cuteeeeeeeeeeeeeeeee <3 </h6>
    							<span class="start_date">23/04/2017</span><span class="dat"> - </span><span class="end_date">24/04/2017</span>
  							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-6 col-md-3 col-lg-3 boxmargin">
					<a class="event" href="#">
						<div class="card">
  							<img class="card-event-img" src="../bootstrap4/img/dog.jpg">
 							<div class="card-block">
    							<h4 class="card-title-jan">Pomeranian</h4>
    							<h6 class="describe">I love pomeranian
    							so cuteeeeeeeeeeeeeeeee <3 </h6>
    							<span class="start_date">23/04/2017</span><span class="dat"> - </span><span class="end_date">24/04/2017</span>
  							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-6 col-md-3 col-lg-3 boxmargin" style="margin-bottom: 2rem;">
					<a class="event" href="#" >
						<div class="card">
  							<img class="card-event-img" src="../bootstrap4/img/dog.jpg">
 							<div class="card-block">
    							<h4 class="card-title-jan">Pomeranian</h4>
    							<h6 class="describe">I love pomeranian
    							so cuteeeeeeeeeeeeeeeee <3 </h6>
    							<span class="start_date">23/04/2017</span><span class="dat"> - </span><span class="end_date">24/04/2017</span>
  							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-6 col-md-3 col-lg-3 boxmargin">
					<a class="event" href="#" >
						<div class="card">
  							<img class="card-event-img" src="../bootstrap4/img/dog.jpg">
 							<div class="card-block">
    							<h4 class="card-title-jan">Pomeranian</h4>
    							<h6 class="describe">I love pomeranian
    							so cuteeeeeeeeeeeeeeeee <3 </h6>
    							<span class="start_date">23/04/2017</span><span class="dat"> - </span><span class="end_date">24/04/2017</span>
  							</div>
						</div>
					</a>
				</div>

				<div class="col-sm-6 col-md-3 col-lg-3 boxmargin">
					<a class="event" href="#" >
						<div class="card">
  							<img class="card-event-img" src="../bootstrap4/img/dog.jpg">
 							<div class="card-block">
    							<h4 class="card-title-jan">Pomeranian</h4>
    							<h6 class="describe">I love pomeranian
    							so cuteeeeeeeeeeeeeeeee <3 </h6>
    							<span class="start_date">23/04/2017</span><span class="dat"> - </span><span class="end_date">24/04/2017</span>
  							</div>
						</div>
					</a>
				</div>				

				<div class="col-sm-6 col-md-3 col-lg-3 boxmargin">
					<a class="event" href="#">
						<div class="card">
  							<img class="card-event-img" src="../bootstrap4/img/dog.jpg">
 							<div class="card-block">
    							<h4 class="card-title-jan">Pomeranian</h4>
    							<h6 class="describe">I love pomeranian
    							so cuteeeeeeeeeeeeeeeee <3 </h6>
    							<span class="start_date">23/04/2017</span><span class="dat"> - </span><span class="end_date">24/04/2017</span>
  							</div>
						</div>
					</a>
				</div>

		
		</div>
		</div>

	</div> <!-- container-fluid -->

</body>
</html>