<!DOCTYPE html>
<html>
<head>
	<title>Event Newfeed</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script> -->
    <!-- <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script> -->
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
</head>
<body style="background-color: #ededed;">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 event_newfeed-bg-white_box">
			<!--text newfeed--> 
			<div class="event_newfeed-text-newfeed">NEW FEED</div>

			<!--card column-->
			<div class="row event_newfeed-card_group-all_card">
				<!--card1-->
				<div class="card col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 event_newfeed-card-each" style="width: 20rem;">
					<div class="event_newfeed-img-img_card">
  						<img class="card-img-top img-fluid" src="pic/disney.jpg" alt="Card image cap">
  						<div class="event_newfeed-text-status">
  							<div class="event_newfeed-text-join">joined</div>
  							<div class="event_newfeed-text-join">13 apr 2017</div>
  						</div>
  						<div class="event_newfeed-div-user">
  							<img src="pic/1.jpg" class="event_newfeed-img-profile">
  							<div class="event_newfeed-text-username">UserName</div>
  						</div>
  					</div>
  					<div class="card-block" style="padding-top: 0px;">
    					<h4 class="card-title event_newfeed-text-event_name">Disney On Ice</h4>
    					<p class="card-text event_newfeed-text-detail">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    					<a href="#" class="event_newfeed-a-link_detail">details</a>
  					</div>
				</div>

				<!--card2-->
				<div class="card col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 event_newfeed-card-each" style="width: 20rem;">
					<div class="event_newfeed-img-img_card">
  						<img class="card-img-top img-fluid" src="pic/fin.jpg" alt="Card image cap">
  						<div class="event_newfeed-text-status">
  							<div class="event_newfeed-text-join">joined</div>
  							<div class="event_newfeed-text-join">13 apr 2017</div>
  						</div>
  						<div class="event_newfeed-div-user">
  							<img src="pic/1.jpg" class="event_newfeed-img-profile">
  							<div class="event_newfeed-text-username">UserName</div>
  						</div>
  					</div>
  					<div class="card-block" style="padding-top: 0px;">
    					<h4 class="card-title event_newfeed-text-event_name">Fin Market</h4>
    					<p class="card-text event_newfeed-text-detail">dlkgbjkgfjhdrtiuhgiurtiu</p>
    					<a href="#" class="event_newfeed-a-link_detail">details</a>
  					</div>
				</div>

				<!--card3-->
				<div class="card col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 event_newfeed-card-each" style="width: 20rem;">
					<div class="event_newfeed-img-img_card">
  						<img class="card-img-top img-fluid" src="pic/travel.jpg" alt="Card image cap">
  						<div class="event_newfeed-text-status">
  							<div class="event_newfeed-text-join">joined</div>
  							<div class="event_newfeed-text-join">13 apr 2017</div>
  						</div>
  						<div class="event_newfeed-div-user">
  							<img src="pic/1.jpg" class="event_newfeed-img-profile">
  							<div class="event_newfeed-text-username">UserName</div>
  						</div>
  					</div>
  					<div class="card-block" style="padding-top: 0px;">
    					<h4 class="card-title event_newfeed-text-event_name">Same Forest</h4>
    					<p class="card-text event_newfeed-text-detail">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    					<a href="#" class="event_newfeed-a-link_detail">details</a>
  					</div>
				</div>

				<!--card4-->
				<div class="card col-sm-12 col-md-5 col-lg-5 offset-md-1 offset-lg-1 event_newfeed-card-each" style="width: 20rem;">
					<div class="event_newfeed-img-img_card">
  						<img class="card-img-top img-fluid" src="pic/BMMF.jpg" alt="Card image cap">
  						<div class="event_newfeed-text-status">
  							<div class="event_newfeed-text-join">joined</div>
  							<div class="event_newfeed-text-join">13 apr 2017</div>
  						</div>
  						<div class="event_newfeed-div-user">
  							<img src="pic/1.jpg" class="event_newfeed-img-profile">
  							<div class="event_newfeed-text-username">UserName</div>
  						</div>
  					</div>
  					<div class="card-block" style="padding-top: 0px;">
    					<h4 class="card-title event_newfeed-text-event_name">Big Mountain Music Festival</h4>
    					<p class="card-text event_newfeed-text-detail">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    					<a href="#" class="event_newfeed-a-link_detail">details</a>
  					</div>
				</div>
			</div>
		</div>
	</div>
</body>