<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	<script type="text/javascript" src="myJS/myjs.js"></script>
	<!-- <script type="text/javascript">
		$(document).ready(function(){
		        // $.get("http://localhost:5555/member",{},function(data){  
            
		        //     $("#member_id").html(data[0].MEMBER_ID);
		        //     $("#national_id").html(data[0].NATIONAL_ID);
		        //     $("#username").html(data[0].USERNAME);
		        //     $("#password").html(data[0].PASSWORD);
		        //     $("#fname").html(data[0].FNAME);
		        //     $("#lname").html(data[0].LNAME);
		        //     $("#sex").html(data[0].SEX);
		        //     $("#birthday").html(data[0].BIRTH_DAY);
		        //     $("#address").html(data[0].ADDRESS);
		        //     $("#e_mail").html(data[0].E_MAIL);
		        //     $("#phone").html(data[0].PHONE);
		        //     $("#credit_card").html(data[0].CREDIT_CARD);
		        //     $("#url_img").html(data[0].URL_IMG);
		        // });

		});
	</script> -->
	<script type="text/javascript">
		$(function(){
			changepage("templates/eventList.html");
		});
	</script>		
</head>
<body>
	<!-- <div id="member_id"></div>
	<div id="national_id"></div>
	<div id="username"></div>
	<div id="password"></div>
	<div id="fname"></div>
	<div id="lname"></div>
	<div id="sex"></div>
	<div id="birthday"></div>
	<div id="address"></div>
	<div id="e_mail"></div>
	<div id="phone"></div>
	<div id="credit_card"></div>
	<div id="url_img"></div> -->

	<div class="container-fluid center-container">
		<!-- menu for mobile -->
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded hidden-md-up black-fill menu-bar-sm">
		  	<button class="navbar-toggler navbar-toggler-right menu-bar-hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<a class="navbar-brand white-color menu-bar-logo" href="#">Event Organize</a>

		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item white-fill menu-bar-user black-color font-weight-bold">
			        	<a class="nav-link" href="#">
				        	<img src="pic/tanJI.jpg" class="rounded-circle">
				        	SketchJI
			        	</a>
			      	</li>
			      	<li class="nav-item active menu-bar-list">
			        	<a class="nav-link white-color" href="#">Home <span class="sr-only">(current)</span></a>
			      	</li>
			      	<li class="nav-item menu-bar-list">
			        	<a class="nav-link white-color" href="#">event</a>
			      	</li>
			      	<li class="nav-item menu-bar-list">
			        	<a class="nav-link white-color" href="#">contact us</a>
			      	</li>
			      	<li class="nav-item menu-bar-list">
			        	<a class="nav-link white-color" href="#">sign out</a>
			      	</li>
			    </ul>
	  		</div>
		</nav>
		<!-- side-nav -->
		<div class="side-nav hidden-sm-down flexcroll">
			<div class="row logo">
				<div class="col-12">
					<h3 class="text-center">Event Organice</h3>
				</div>
			</div>
			<div class="row user">
				<div class="col-12">
					<a href=""><img src="pic/tanJI.jpg" class="rounded-circle mx-auto d-block" alt="..."></a>
				</div>
				<div class="col-12">
					<a href=""><p class="text-center font-weight-bold username">SketchJI</p></a>
				</div>
				<div class="col-6 user-following">
					<p class="text-center">Following</p>
					<a href=""><p class="text-center font-weight-bold user-follow-detail">11</p></a>
				</div>
				<div class="col-6 user-follower">
					<p class="text-center">Follower</p>
					<a href=""><p class="text-center font-weight-bold user-follow-detail">2</p></a>
				</div>
			</div>
			<div class="menu">
				<ul class="nav flex-sm-column">
				  <li class="nav-item">
				    <a class="nav-link active font-weight-bold text-uppercase" href="#">HOME</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link font-weight-bold text-uppercase" href="#">event</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link font-weight-bold text-uppercase" href="#">contact us</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link font-weight-bold text-uppercase" href="#">sign out</a>
				  </li>
				</ul>
			</div>			
		</div>
		<!-- body -->
		<div class="row content">
			<!-- <div id="app">
		  		<p>{{ now }}</p>
			</div> -->
			<div id="center"></div>
		</div>
	</div>
	
</body>
</html>
