<!-- <html>
<head>
<title>Session Management in NodeJS using Express4.2</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
        pass=$("#password").val();
        /*
        * Perform some validation here.
        */
        $.post("http://localhost:5555/login",{email:email,pass:pass},function(data){        
            if(data==='done')           
            {
                window.location.href="/admin";
            }
        });
    });
});
</script>
</head>
<body>
<input type="text" size="40" placeholder="Type your email" id="email"><br />
<input type="password" size="40" placeholder="Type your password" id="password"><br />

<input type="button" value="Submit" id="submit">
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- <link rel="stylesheet" type="text/css" href="../bootstrap-4/css/bootstrap.css"> -->
	    <!-- <script type="text/javascript" src="../bootstrap-4/js/bootstrap.js"></script> -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			    var email,pass;
			    $("#submit").click(function(){
			        email=$("#email").val();
			        pass=$("#password").val();
			        $.post("http://localhost:5555/login",{email:email,pass:pass},function(data){  
			        	console.log(data);
			        	$("#box").html(data);   
			            if(data==='done')           
			            {
			                window.location.href='hello.html';
			            }
			            else
			            {
			            	window.location.href='login.html';
			            }
			        });
			    });
		});
		</script>
</head>
<body>
	<div id="box">
		
	</div>
  <label for="fname">E-mail</label>
  <input type="text" id="email" name="fname">
  <label for="lname">Password</label>
  <input type="text" id="password" name="lname">
  <input type="button" value="Submit" id="submit">
</body>
</html>
