<!DOCTYPE html>
<html>
<head>
	<title>Support Detail</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script-->
    <!--script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script-->
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/eventdetail.css">
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<!--show type support (top)-->
			<div class=" nunito event_detail-textlink">
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">SUPPORT</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">DECORATION</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">BALLOON SHOP</a>
				<form class="form-inline col-md-3 offset-md-9 event_detail-search" >
    				<input class="form-control mr-sm-2" type="text" placeholder="Search">
  				</form>
  			
			</div>
		
		
			<div class="col-sm-12 col-md-12 col-lg-12 event_detail-border">
				<!--image of support's shop-->
				<div class="col-sm-12 col-md-12 col-lg-12 ">
  					<img src="pic/shop1.jpg" class="spport_detail-img-shop_img img-fluid">
				</div>

				<div class="col-md-12" style="border-bottom: 0.1rem solid #48515A;">
					<!--Support's name-->
					<div class="event_datail-text-eventname">
						<span>BALLOON SHOP</span>
					</div>
					<!--support type-->
					<div class="event_datail-text-createdby">
						<span style="color:#7A8A99 ">TYPE: </span>
						<span style="color: #47D2E9 ">DECORATION</span>
					</div>
				</div>	

				<div class="row event_detail-detail mb-sm-1rem "   >
					<!--support's product image-->
					<div class="col-sm-12 col-md-6 col-lg-6 event_detail-detail" >
						<img src="pic/Balloon.jpg">
					</div>
					<!--support's contact-->
					<div class="col-sm-12 col-md-6 col-lg-6 mt-sm-0 mt-md-5" >
						<div>
							<div class="supoort_detail-text-topic">PHONE : </div>
							<div class="support_detail-text-data_contact">&nbsp;053-397124</div>
						</div>
						<div>
							<div class="supoort_detail-text-topic">WEB SITE : </div>
							<div class="support_detail-text-data_contact">&nbsp;www.balloonshop.com</div>
						</div>
						<div>
							<div class="supoort_detail-text-topic">FACEBOOK : </div>
							<div class="support_detail-text-data_contact">&nbsp;Balloon Shop</div>
						</div>
						<div>
							<div class="supoort_detail-text-topic">LINE : </div>
							<div class="support_detail-text-data_contact">&nbsp;BalloonShop</div>
						</div>

						<!--support's detail-->
						<div class="supoort_detail-text-topic">DETAIL :</div>
						<p class="support_detail-p-detail">รับตกแต่งลูกโป่งแฟนซีทุกรูปแบบ จัดช่อของขวัญตุ๊กตาภายในลูกโป่ง ทำเสา ซุ้ม ตกแต่งสถานที่ งานแต่ง งานรับปริญญา surprise วันเกิด ส่งบับเบิ้ลผ่านไปรษณีย์ ด้วยก๊าซฮีเลียมปลอดภัยมีใบรับประกันจากบริษัทก๊าซคุณภาพพร้อมยืนยัน</p>
					</div>
				</div>
				
				<!--location-->
				<div style="border-bottom: 0.1rem solid #48515A;">
					<span class="support_detail-text-location mt-md-3" >LOCATION</span>
				</div>
				<!--map-->
				<div class="text-center text-sm-p text-md-p col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 2rem; margin-top: 30px;">
						<img class="img-fluid" style="width: 100%" src="pic/map.jpg">
				</div>
			</div>
		</div>

		<!-- other support -->
		<div class="row mt-md-5 hidden-sm-down" style="background-color: #48515A;">
			<div class="col-md-12" >
				<div class="event_datail-text-otherevent mt-md-5">
					<span>OTHER SUPPORTS</span>
				</div>
				<div class="col-md-12 mt-md-5 mb-md-5 nunito" style="color: #48515A;">

					<div class="card-deck event_detail-textlink-card">
				
						<a href="#">
							<div class="card ">
						  		<div class="blockofimg ">
						  			<img class="card-img-top img-fluid img-fluid-clip " src="https://0.soompi.io/wp-content/uploads/2013/02/1st-look_park-shin-hye-e1360290397864.jpg" alt="Card image cap">
						  		</div>
	
						    	<div class="card-block">
						      		<h4 class="card-title">Support's Name</h4>
						      		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    	</div>
						  	</div>
						</a> 
						 

						<a href="#">
						  	<div class="card ">
						  		<div class="blockofimg ">
						  			<img class="card-img-top img-fluid img-fluid-clip " src="https://www.dramafever.com/st/news/images/f1cad0e1-e89a-41e3-8045-cd306a894eaf.jpg" alt="Card image cap">
						  		</div>
						  		<div class="card-block">
						      		<h4 class="card-title">Support's Name</h4>
						      		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    	</div>
						  	</div>
						</a>
						
						<a href="#">
							<div class="card ">
						  		<div class="blockofimg ">
						  			<img class="card-img-top img-fluid img-fluid-clip " src="http://images.kdramastars.com/data/images/full/223632/park-shin-hye-reached-3-million-instagram-followers.jpg?w=600" alt="Card image cap">
						  		</div>
						    	<div class="card-block">
						      		<h4 class="card-title">Support's Name</h4>
						      		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    	</div>
						  	</div>
						</a>
						  
						<a href="#">
							<div class="card ">
						  		<div class="blockofimg ">
						  			<img class="card-img-top img-fluid img-fluid-clip " src="http://www.allkpop.com/upload/2016/01/content/park-shin-hye_1454081321_psh3.png" alt="Card image cap">
						  		</div>
						    	<div class="card-block">
						      		<h4 class="card-title">Support's Name</h4>
						      		<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
						    	</div>
						  	</div>
						</a>
						  
						<div class="card event_detail-showmore" >
						    <div class="card-block text-center">
						      	<div style="margin-top: 10rem;">
						      		<a href="#" class="" style="color: #fff">SHOW MORE +</a>
						    	</div>	
						    </div>
						</div>		  
					</div>		
				</div>
			</div>
		</div>
	</div>
</body>