<!DOCTYPE html>
<html>
<head>
	<title>Support Detail</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Boostrap 4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Boostrap 4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	
	<!-- angula -->
	<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script-->
    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script-->
    <!--script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script-->
	
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="myCSS/eventdetail.css">
	<link rel="stylesheet" type="text/css" href="myCSS/mycss.css">
	<!-- my js -->
	<script type="text/javascript" src="myJS/myjs.js"></script>


</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<!--show type support (top)-->
			<div class=" nunito event_detail-textlink">
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">SUPPORT</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">DECORATION</a>
	  			<a style="color: #48515A" class="breadcrumb-item" href="#">BALLOON SHOP</a>
				<form class="form-inline col-md-3 offset-md-9 event_detail-search" >
    				<input class="form-control mr-sm-2" type="text" placeholder="Search">
  				</form>
  			
			</div>
		
		
			<div class="col-sm-12 col-md-12 col-lg-12 event_detail-border">
				<!--image of support's shop-->
				<div class="col-sm-12 col-md-12 col-lg-12 ">
  					<img src="pic/shop1.jpg" class="spport_detail-img-shop_img img-fluid">
				</div>

				<div class="col-md-12" style="border-bottom: 0.1rem solid #48515A;">
					<!--Support's name-->
					<div class="event_datail-text-eventname">
						<span>BALLOON SHOP</span>
					</div>
					<!--support type-->
					<div class="event_datail-text-createdby">
						<span style="color:#7A8A99 ">TYPE: </span>
						<span style="color: #47D2E9 ">DECORATION</span>
					</div>
				</div>	

				<div class="row event_detail-detail mb-sm-1rem "   >
					<!--support's map image-->
					<div class="col-sm-12 col-md-6 col-lg-6 event_detail-detail" >
						<img src="pic/map.jpg">
					</div>
					<!--support's contact-->
					<div class="col-sm-12 col-md-6 col-lg-6 mt-sm-0 mt-md-5" >
						<div>
							<div class="supoort_detail-text-topic">PHONE : </div>
							<div class="support_detail-text-data_contact">&nbsp;053-397124</div>
						</div>
						<div>
							<div class="supoort_detail-text-topic">WEB SITE : </div>
							<div class="support_detail-text-data_contact">&nbsp;www.balloonshop.com</div>
						</div>
						<div>
							<div class="supoort_detail-text-topic">FACEBOOK : </div>
							<div class="support_detail-text-data_contact">&nbsp;Balloon Shop</div>
						</div>
						<div>
							<div class="supoort_detail-text-topic">LINE : </div>
							<div class="support_detail-text-data_contact">&nbsp;BalloonShop</div>
						</div>

						<!--support's detail-->
						<div class="supoort_detail-text-topic">DETAIL :</div>
						<p class="support_detail-p-detail">รับตกแต่งลูกโป่งแฟนซีทุกรูปแบบ จัดช่อของขวัญตุ๊กตาภายในลูกโป่ง ทำเสา ซุ้ม ตกแต่งสถานที่ งานแต่ง งานรับปริญญา surprise วันเกิด ส่งบับเบิ้ลผ่านไปรษณีย์ ด้วยก๊าซฮีเลียมปลอดภัยมีใบรับประกันจากบริษัทก๊าซคุณภาพพร้อมยืนยัน</p>
					</div>
				</div>
				
				<!--location-->
				<div style="border-bottom: 0.1rem solid #48515A;">
					<span class="support_detail-text-location mt-md-3" >Products</span>
				</div>
				<!--map-->
					<div class="support_detail-card-columns">
						<!-- 1 -->
						<div class="support_detail-card">
							<div class="card support_detail-card">
							  	<div class="card-img-top support_detail-img" >
							  		<img id="sdImg" src="https://s-media-cache-ak0.pinimg.com/564x/87/4a/4c/874a4c7c9f109586358faeada64a0334.jpg">
							  	</div>
							    <div class="card-block">
							      <p class="card-text quicksand " style="color:#828282; ">This card has supporting text below as a natural lead-in to additional content.</p>
							    </div>
							</div>
						</div>
						<!-- The Modal -->
						<div id="sdModal" class="support_detail-modal">
						  <span class="support_detail-close">&times;</span>
						  	<img class="support_detail-modal-content" id="sdImg1">
						  <p id="support_detail-caption">This card has supporting text below as a natural lead-in to additional content.</p>
						</div>
						
					</div>
					

		<!-- other support -->
		<div class="row mt-md-5 hidden-sm-down" style="background-color: #48515A;">
			<div class="col-md-12" >
				<div class="event_datail-text-otherevent mt-md-5">
					<span>OTHER SUPPORTS</span>
				</div>
				<div class="col-md-12 mt-md-5 mb-md-5 nunito" style="color: #48515A;">

					<div class="card-deck event_detail-textlink-card">
				
						<div class="col-md-3">
							<a href="#">
								<div class="card ">
							  		<div class="blockofimg ">
							  			<img class="card-img-top img-fluid img-fluid-clip " src="https://s-media-cache-ak0.pinimg.com/236x/dd/8f/64/dd8f640bcafd6ef6ef94b102a0618b8f.jpg">
							  		</div>
		
							    	<div class="card-block " >
							      		<h4 class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Support's Name</h4>
							      		<p class="card-text " style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
							    	</div>
							  	</div>
							</a> 
						</div>
						<div class="col-md-3 ">
							<a href="#">
								<div class="card ">
							  		<div class="blockofimg ">
							  			<img class="card-img-top img-fluid img-fluid-clip " src="https://s-media-cache-ak0.pinimg.com/236x/fb/d4/80/fbd480971229282b959d802a2fa2b839.jpg" alt="Card image cap">
							  		</div>
		
							    	<div class="card-block">
							      		<h4 class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Support's Name</h4>
							      		<p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
							    	</div>
							  	</div>
							</a> 
						</div>
						 
						 <div class="col-md-3" >
							<a href="#">
								<div class="card ">
							  		<div class="blockofimg ">
							  			<img class="card-img-top img-fluid-clip " src="https://s-media-cache-ak0.pinimg.com/564x/70/23/69/7023691d84cd12ee8f73ea371e068dbe.jpg" alt="Card image cap">
							  		</div>
		
							    	<div class="card-block">
							      		<h4 class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">Event's Name</h4>
							      		<p class="card-text" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							      		<a style="float: right;" class="quicksand-bold" href="#"> detail</a>
							    	</div>
							  	</div>
							</a> 
						</div>
						  
						<div class="card event_detail-showmore" >
						    <div class="card-block text-center">
						      	<div style="margin-top: 10rem;">
						      		<a href="#" class="" style="color: #fff">SHOW MORE +</a>
						    	</div>	
						    </div>
						</div>		  
					</div>		
				</div>
			</div>
		</div>
	</div>


<script>
// Get the modal
var modal = document.getElementById('sdModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('sdImg');
var modalImg = document.getElementById("sdImg1");
var captionText = document.getElementById("support_detail-caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("support_detail-close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>




</body>
