<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			        $("#submit").click(function(){
				        $.post("http://localhost:5555/AllEvent/1",{},function(data){  
				        	$("#box").html(data); 
				        });
				    });
			        $("#submit2").click(function(){
				        $.post("http://localhost:5555/AllEvent/2",{},function(data){  
				        	$("#box").html(data); 
				        });
				    });
			    });
		</script>
</head>
<body>
<input type="button" value="submit" id="submit">
<input type="button" value="submit2" id="submit2">
	TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST
	TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST
	TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST
	TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST
	<div id="box">
		
	</div>
</body>
</html>