<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">	
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			        $.get("http://localhost:5555/event/1",{},function(data){  
	            		console.log(data);
	            		var time = data[0].TIME_START_E;
			            $("#name").html(data[0].EVENT_NAME);
			            $("#detail").html(data[0].DETAIL);
			            $("#time").html(time);
			       	});
			});
		</script>		
</head>
<body>
	<div id="name"></div>
	<div id="detail"></div>
	<div id="time"></div>
</body>
</html>