<div class="container-fluid center-container">
<menu></menu>
<div class="content">
<div class="row detailEvent-row-card" style="margin-top: 10px;">
	<div class="col-sm-12 col-md-3 col-lg-3 search push-md-8 push-lg-8">
		<div class="form-group">
		    <input type="text" class="form-control" id="search-input" aria-describedby="searchHelp" placeholder="search">
		    <!-- <small id="searchHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
		</div>
	</div>
	<div class="col-sm-12 col-md-7 col-lg-7 offset-md-1 offset-lg-1 detailEvent-linkpage pull-md-3 pull-lg-3">
		<div class="type_button">
			<div class="type_button_box ">
				<a class="active_button a-mind text-link" href="#">Event</a>
				<span> / </span>
				<a class="a-mind text-link" href="#">Type</a>	
				<span> / </span>
				<a class="a-mind text-link" href="#">Event's Name</a>
			</div>		
		</div> 
	</div>
</div>
<div class="row detailEvent-row-card">
	<div class="col-sm-11 col-md-10 col-lg-10 offset-lg-1 offset-md-1 textarea-detail-event">
		<div class="card-deck">
			<div class="row">
				<div class="col-sm-11 col-md-4 col-lg-4 eventList-card-box" ng-repeat="event in eventsCat">
					<a href="#!/detail/{{event.EVENT_ID}}">
						<div class="card eventList-card">
					    	<img class="card-img-top" src="{{event.PICTURE}}" alt="Card image cap">
					    	<div class="card-block">
					      		<h4 class="card-title"> {{event.EVENT_NAME | limitTo: 19}}</h4>
					      		<p class="card-text"> {{event.DETAIL | limitTo: 30}} </p>
					      		<p class="card-text"><small class="text-muted">{{event.TIME_START_E | date:'medium'}} - {{event.TIME_END_E | date:'medium'}}</small></p>
					    	</div>
						</div>
					</a>
				</div>
			</div>	
		</div>
	</div>
</div>
<div class="row detailEvent-row-card" ng-show="errorMgs">
	<div class="text-center">
		{{errorMgs}}
	</div>
	
</div>
</div>