<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- BT4 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- BT4 JS -->
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	<!-- Jqry	 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<!-- my css -->
	<link rel="stylesheet" type="text/css" href="../myCSS/mycss.css">
	<link rel="stylesheet" type="text/css" href="../myCSS/signin.css">
	<!-- my js -->
	<script type="text/javascript" src="../myJS/myjs.js"></script>
</head>
<body style="background-color: #F5F6FA;">
	<div class="container-fluid">
		<div class="row ">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  londrina head-event-organice text-center" style="top: 2rem;">EVENT ORGANICE</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 offset-xl-3 Quicksand-bold">
				<form>
									<div class="form-group-signin" style="position: relative;top: 2rem;">
											
											<input type="email" class="form-control" ng-model="login.email" aria-describedby="emailHelp" placeholder="Enter email">
									</div>
									
									<div class="form-group-signin" style="position: relative;top: 2rem;">
											
											<input type="password" class="form-control" ng-model="login.password" placeholder="Enter Password">
									</div>
									
									<div class="form-group text-center" style="font-family: Quicksand-bold; color:#48515A;position: relative;top:2rem; " >
										<input type="checkbox" tabindex="3"  name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
								
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
										
											<a href="#" tabindex="5"  style="font-family: Quicksand-bold; color:#48515A;position: relative;top:1rem;  " class="forgot-password">Forgot Password?</a>
										
									</div>
									<button type="button" class="btn btn-primary btn-lg btn-block btn-signin" ng-click="login();">SIGN IN</button>
									<button type="button" class="btn btn-primary btn-lg btn-block btn-signin">SIGN UP</button>
								

										<!-- <button style="position: relative;top:2rem; " type="button" data-toggle="modal" data-target="#signin" id="#login" class="btn btn-warning-signin" > SIGN IN </button> -->
								
									

									
									
						        </form>
		</div>
		</div>
	</div>
</body>
</html>