html, body {
    height: 100%
}
.container{
    width: 100%;
    height: 100%
}

.main{
    background-color: white;
    height: 100%;
}
.main-list-menu{
    background-color: white;
    height: 100%;
    padding: 0px;
    text-align: center;
}

.main-list-menu li a:hover{
    background-color: #FC575E;
    color: white;
    border-radius: 20px;
}

.main-pic-head{

    background-image: url("profile.jpg");
    
    /* make it responsive */
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    /* div height to be the same as width*/
    padding-top:100%;
    
    /* make it a cirkle */
    border-radius:50%;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    
    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;

    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.main-pic-name {
    text-align: center;
    margin-top: 15%;
    font-size: 160%;padding-bottom: 15px;
}

.maincontent {
    height: 100%;
}

.detail {
    background-color: #FBD451;
    height: 100%;
}

.detail-menu {
}

.detail-menu-createev {
    float: left;
}

.detail-menu-search {
    float: right;
}

.detail-signout {
    text-align: right;
}

.main-pic {
    margin-top: 20%;
}

.head-form {
    display: inline-block;
}

.text-form {
    display: inline-block;
}


.Create-head {
    color:white;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

.Create-main {
    background-color:#48515A;
    width:70%;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, .16);
    border-color:transparent;
}

.Create-detail {
    margin-top : 10px;
    color:white;
}

.text-w {
    color: white;
}

.text-b{
    color: black;
}


.btnmap {
    
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.mapshow {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.mapshow-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color: black;
}

.map-close {
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
}

.map-close:hover,
.map-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.text-r {
    text-align: right;
}

#map {
    height: 500px;
    display: block;
    margin-top: 10px;
}

#pac-input {
                background-color: #fff;
		        font-family: Roboto;
		        font-size: 15px;
		        font-weight: 300;
		        text-overflow: ellipsis;
                margin-top: 6px;
                width: 50%;
                }

#pac-input:focus {
		        border-color: #4d90fe;
		      }
