.btn-warning-buy {
	font-family: Quicksand-bold;  
 	color:  #F5F6FA;
 	background-color:  #f2385a;
 	border-color:  #F5F6FA;
 	
}

.btn-warning-buy:hover {
  	color:   #F5F6FA;
 	background-color:   #f00f38;
 	border-color:   #fff;
}
.btn-warning-gift {
	font-family: Quicksand-bold;  
 	color: #2d2a27;
 	background-color:   #F5F6FA;
 	border-color: #F5F6FA;
 	
}
.btn-warning-gift:hover {
  	color:  #2d2a27;
 	background-color:  #fff;
 	border-color:   #fff;
 	
 	

}
.textarea-detail-event::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.textarea-detail-event::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.textarea-detail-event::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #fff;
}

.textarea-detail-event{
	background-color: #F5F6FA;
	border: 0.2px solid #F5F6FA;
	/*border-radius: 3px;*/

	position:relative;
	top: 2rem; 

	height: 600px; 

	overflow-y:scroll; 

}

.text-link{
	font-family: Nunito; 
	font-size: 1.5rem;
}
.a-mind {
	color:  #2d2a27;
}
.a-mind:focus, .a-mind:hover{
	color: #ED297B !important;
}

.form-control-search {
  display: block;
  width: 100%; 
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px !important;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}